# Composer
/vendor
composer.phar

# IDE settings
.idea
nbproject
.buildpath
.project
.settings

# Windows thumbnail cache
Thumbs.db

# PHPUnit
phpunit.phar
/phpunit.xml
tests/_output/*

# Vagrant machine folder
/.vagrant

# Environment
.env