# Composer
/vendor
composer.phar

# IDE settings
.idea
nbproject
.buildpath
.project
.settings

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# PHPUnit
phpunit.phar
/phpunit.xml

# Vagrant machine folder
/.vagrant

# Environment
.env

tests/_output/*