.main-content {
    background: #F5F5F5;
    margin-left: 240px;
    min-height: 750px;
}

.main-content .page-content {
    background: #F5F5F5;
    margin-top: 50px;
    overflow: hidden;
    padding: 20px 50px 0;
    position: relative;
}

.main-content .page-content h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
    text-transform: uppercase;
}

.main-content .page-content::after {
    clear: both;
    content: '';
    display: block;
}

.main-content .page-content .panel {
    background: #ffffff;
    border-radius: 0;
    border: 1px solid #E2E2E2;
    border: none;
    color: #5b5b5b;
    margin-bottom: 20px;
    min-height: 30px;
    position: relative;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.main-content .page-content .panel:before {
    content: " ";
    display: table;
}

.main-content .page-content .panel:after {
    content: " ";
    display: table;
}

.main-content .page-content .panel .panel-content ul {
    padding-left: 0;
}

.main-content .page-content .panel .panel-content i {
    padding-left: 0;
    padding-right: 6px;
}

.main-content .page-content .panel .panel-header {
    display: block;
    height: auto;
    padding: 6px 15px 6px 18px;
}

.main-content .page-content .panel .panel-header h3 {
    display: block;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.main-content .page-content .panel .panel-header:hover .control-btn > a {
    background: none !important;
    color: #909090 !important;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main-content .page-content .panel .panel-header .control-btn > a .icon-size-fullscreen:before {
    display: inline-block;
    width: 14px;
}

.main-content .page-content .panel .control-btn {
    display: inline-block !important;
    position: absolute;
    right: 13px;
    top: 14px;
    z-index: 2;
}

.main-content .page-content .panel .control-btn > a {
    color: #cccccc !important;
    cursor: pointer;
    margin-left: 11px;
    margin-right: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main-content .page-content .panel .control-btn > a:hover {
    text-decoration: none;
    text-decoration: none !important;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main-content .page-content .panel .control-btn > a:focus {
    text-decoration: none !important;
}

.main-content .page-content .portlets.ui-sortable {
    z-index: 2;
}

.main-content .page-content .portlets.ui-sortable .panel-header {
    cursor: move;
}

.main-content .page-content .panel-content {
    padding: 20px 20px 10px 20px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.main-content .page-content .panel-content h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
    text-transform: uppercase;
}

.main-content .page-content .panel-header i {
    padding-right: 6px;
}

.main-content .page-content.page-thin {
    padding: 25px 25px 0 25px;
}

.main-content .page-content.page-thin .row {
    margin-left: -5px;
    margin-right: -5px;
}

.main-content .page-content.page-thin .row > [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.main-content .page-content > .footer {
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 15px;
}

.main-content .page-content > .footer .copyright {
    border-top: 1px solid rgba(12, 12, 12, 0.07);
    padding: 20px 0;
    z-index: 15;
}

.main-content .page-content > .footer .copyright p {
    margin-bottom: 0;
}

.main-content .page-content > .footer .copyright a {
    color: #2C8CA0;
}

.main-content .page-content > .footer .copyright span {
    font-size: 88%;
    opacity: 0.8;
}

.main-content .page-content > .footer .copyright span.copyright {
    font-family: 'Open Sans';
}

.panel .panel-toggle {
    font-size: 15px;
}

.main-content .page-content .panel-header h3 {
    margin: 0;
}

body:not(.fixed-topbar) .main-content .page-content {
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    ul.weather-days {
        width: 102% !important;
    }
}

@media screen and (max-width: 991px) {

    .main-content .page-content {
        background: #F1F2F3;
        overflow: hidden;
        padding: 20px;
    }



}

@media (max-width: 500px) {
    ul.weather-days {
        width: 102%;
    }

    .main-content .page-content .panel .control-btn {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    ul.weather-days {
        width: 102%;
    }
}

.todo-list {
    margin: 0;
    padding: 0;
}

.todo-list li {
    background: #f8f8f8;
    border-left: 2px solid rgba(0, 0, 0, 0.04);
    list-style: none;
    margin-bottom: 4px;
    padding: 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.todo-list li:hover {
    background: #F5F5F5;
}

.todo-list li:hover .todo-tags {
    display: none;
}

.todo-list li:hover .todo-options {
    display: inline;
    position: absolute;
    right: 14px;
    top: 10px;
}

.todo-list li .span-check {
    height: 11px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 26px;
}

.todo-list li .todo-task {
    border-bottom: 1px dashed rgba(0, 0, 0, 0) !important;
    font-size: 12px;
}

.todo-list li .todo-task:hover {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2) !important;
}

.jquery-clock .jquery-clock-noty {
    -webkit-transform: rotate(296deg);
    -webkit-background-size: contain;
    height: 100%;
    left: 45%;
    position: absolute;
    top: 0;
    width: 10%;
    z-index: 3;
}

.due-date-span {
    border-bottom: 1px dashed rgba(100, 100, 100, 1) !important;
    font-size: 12px;
}

.todo-list li .todo-date {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 40px;
}

.todo-list li .todo-date .due-date {
    float: none;
}

.todo-list li .todo-date .completed-date {
    float: left;
    margin-right: 20px;
}

.todo-list li .todo-options {
    display: none;
    font-size: 16px;
}

.todo-list li .todo-options a {
    color: #888888;
}

.todo-list li .todo-options .todo-delete:hover {
    color: #C75757;
}

.todo-list li .todo-tags {
    display: inline;
    font-family: "Open Sans";
    left: auto;
    position: absolute;
    right: 9px;
    top: 6px;
}

.todo-list li.done {
    opacity: .5;
}

.todo-list li.done .todo-task {
    text-decoration: line-through;
}

.todo-list li.done .todo-tags {
    display: inline !important;
}

.todo-list li.done .todo-options {
    display: none !important;
}

.todo-list li > span {
    display: inline-block;
    height: 24px;
    line-height: 26px;
    max-width: 72%;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.todo-list li > span.todo-task {
    overflow: hidden;
}

.todo-list li.medium {
    border-left: 2px solid #FF9122;
    border-right: none;
}

.widget-weather .weather .weather-location .weather-search-form #city-form::-webkit-input-placeholder {
    color: #ffffff;
}

.widget-weather .weather .weather-location .weather-search-form #city-form:-ms-input-placeholder {
    color: #ffffff;
}

.widget-progress-bar .title {
    color: rgba(0, 0, 0, 0.6);
    float: left;
    font-family: 'Open Sans';
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 0;
    opacity: 1;
    text-transform: none;
}

.widget-progress-bar .number {
    color: rgba(0, 0, 0, 0.5);
    float: right;
    font-family: 'Open Sans';
    font-size: 11px;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 0;
    margin-top: 2px;
    opacity: 1;
    text-transform: none;
}

.widget-progress-bar .progress {
    background: rgba(0, 0, 0, 0.1);
    height: 6px;
}

.widget-news.panel-content {
    padding: 0 !important;
}

.widget-news .message-item {
    border-bottom: 1px solid #ECEBEB !important;
    border: none;
    display: block;
    margin: 0;
    padding: 10px 15px 0;
}

.media-body p {
    height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jquery-clock {
    -webkit-background-size: cover;
    background-image: url(../images/clock/clock.png);
    background-size: cover;
    height: 600px;
    list-style: none;
    margin: auto;
    padding: 0;
    position: relative;
    width: 600px;
}

.jquery-clock .jquery-clock-sec {
    -webkit-background-size: contain;
    background-image: url(../images/clock/sechand.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 45%;
    position: absolute;
    top: 0;
    width: 10%;
    z-index: 3;
}

.jquery-clock .jquery-clock-min {
    -webkit-background-size: contain;
    background-image: url(../images/clock/minhand.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 45%;
    position: absolute;
    top: 0;
    width: 10%;
    z-index: 2;
}

.jquery-clock .jquery-clock-hour {
    -webkit-background-size: contain;
    background-image: url(../images/clock/hourhand.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 45%;
    position: absolute;
    top: 0;
    width: 10%;
    z-index: 1;
}

.jquery-clock .jquery-clock-transitions {
    -webkit-transition: all 1s cubic-bezier(0.01, 1.81, 0, 0.88);
    -moz-transition: all 1s cubic-bezier(0.01, 1.81, 0, 0.88);
    -o-transition: all 1s cubic-bezier(0.01, 1.81, 0, 0.88);
    -ms-transition: all 1s cubic-bezier(0.01, 1.81, 0, 0.88);
    transition: all 1s cubic-bezier(0.01, 1.81, 0, 0.88);
}

.jquery-clock.medium {
    height: 250px;
    width: 250px;
}

.widget-info {
    padding-top: 20px;
}

.widget-info .left {
    float: left;
    padding-left: 10px;
    width: 60px;
}

.widget-info .left i {
    color: #ffffff;
    font-size: 23px;
    text-align: center;
}

.widget-info .left i::before {
    display: inline-block;
    height: 48px;
    margin-top: 0;
    padding: 13px;
    width: 48px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.widget-info .right {
    float: left;
    padding-left: 10px;
}

.widget-info .right .number {
    font-family: 'Roboto', 'Open Sans', Arial;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 2px;
}

.widget-info .right .text {
    color: #A3A3A3;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
}

.builder {
    -webkit-transition: -webkit-transform 600ms;
    background: #ffffff;
    border-left: 1px solid rgba(224, 226, 234, 0.53);
    bottom: 0;
    box-shadow: 0 0 9px rgba(155, 155, 155, 0.55);
    position: fixed;
    right: -240px;
    top: 0;
    transition: transform 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 240px;
    z-index: 1000;
}

.builder .inner .builder-container {
    padding: 20px;
}

.builder h4 {
    font-family: 'Roboto', 'Open Sans';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}

.builder a {
    color: #A1A1A1;
    display: block;
    position: relative;
    width: 100%;
}

.builder a:hover {
    color: #818181;
    text-decoration: none !important;
}

.builder a:active {
    color: #818181;
    text-decoration: none !important;
}

.builder a:focus {
    color: #818181;
    text-decoration: none !important;
}

.builder .layout-option {
    margin-bottom: 20px;
}

.builder .switch {
    margin-top: -4px;
}

.builder .builder-toggle {
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    left: -48px;
    line-height: 50px;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    top: 23%;
    width: 54px;
    z-index: 1010;
}

.builder .builder-toggle i {
    padding-right: 5px;
}

.builder:before {
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-left: 1px solid rgba(224, 226, 234, 0.53);
    border-top-left-radius: 4px;
    box-shadow: -3px 2px 2px rgba(189, 189, 189, 0.28);
    content: '';
    height: 50px;
    left: -47px;
    position: absolute;
    top: 23%;
    width: 48px;
}

.builder .theme-color {
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin-right: 3px;
    position: relative;
    width: 22px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.builder .bg-color {
    border: 2px solid #E4E4E4;
}

.builder .theme-color.active:after {
    color: #ffffff;
    content: "\e125";
    display: inline-block;
    font-family: "line-icons" !important;
    font-size: 11px;
    left: 5px;
    position: absolute;
    text-align: center;
    top: 5px;
}

.builder .bg-color.active:after {
    color: #464646;
    content: "\e125";
    display: inline-block;
    font-family: "line-icons" !important;
    font-size: 11px;
    left: 3px;
    position: absolute;
    text-align: center;
    top: 3px;
}

.builder .theme {
    border: 1px solid #ededed;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.builder .theme div {
    display: inline-block;
    float: left;
    height: 40px;
    width: 50%;
}

.builder .theme div:nth-child(1) {
    width: 30%;
}

.builder .theme div:nth-child(3) {
    width: 30%;
}

.builder .theme div:nth-child(2) {
    width: 70%;
}

.builder .theme div:nth-child(4) {
    width: 70%;
}

.builder .theme div.header {
    height: 10px;
}

.builder .theme.active:before {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 93px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.builder .theme.active:after {
    color: #ffffff;
    content: "\e125";
    display: inline-block;
    font-family: "line-icons" !important;
    font-size: 11px;
    left: 9px;
    position: absolute;
    right: auto;
    text-align: center;
    top: 32px;
    z-index: 100000;
}

.builder #reset-style {
    margin: 0;
    width: auto;
}

.builder.open {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.bg-color {
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin-right: 3px;
    position: relative;
    width: 22px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.fc button {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-color: rgba(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    padding: 9px 12px !important;
    font-size: 13px !important;
    line-height: 1.5 !important;
    border-radius: 0px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #666666 !important;
    background-color: #f0f0f0 !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
    height: auto !important;
    padding: 6px 12px !important;
}

.fc button:focus,
.fc button:active:focus,
{
    outline: 0;
    outline-offset: -2px;
}

.fc button:hover,
.fc button:focus {
    color: #666666;
    text-decoration: none;
}

.fc button:active,
{
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.fc button:hover,
.fc button:focus,
.fc button:active {
    color: #666666;
    background-color: #eaeaea;
}

.fc button:active {
    background-image: none;
}

.fc-state-default {
    border: 1px solid;
}

.fc-state-default.fc-corner-left {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.fc-state-default.fc-corner-right {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.fc button .fc-icon {
    position: relative;
    margin: 0 .1em;
}

.fc-state-default {
    background-color: #f5f5f5;
    background-image: none;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-active,
{
    color: #333333;
    background-color: #e6e6e6;
}

.fc-state-active {
    background-color: #cccccc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-button-group {
    display: inline-block;
}

.fc .fc-button-group > * {
    float: left;
    margin: 0 0 0 -1px;
}

.fc .fc-button-group > :first-child {
    margin-left: 0;
}

.fc-bg {
    background-color: #fefefe;
}

.fc-bg .fc-today {
    background-color: #FFFEF8;
}

.fc-bg .fc-other-month {
    background-color: #f8f8f8;
}

.fc-basic-view td.fc-day-number {
    color: #777;
    padding-top: 3px;
    padding-right: 7px;
    font-size: 12px;
}

.fc-basic-view td.fc-today.fc-day-number {
    color: #444;
    font-weight: 600;
}

.tooltip {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    z-index: 1;
    padding: 5px;
    background: #000000;
    opacity: 0.6;
    text-align: center;
    pointer-events: none;
    color: white;
    transition: opacity .1s ease-out;
}

.tooltip.tooltip-hidden {
    opacity: 0;
}

.ct-chart,
.ct-bar-chart {
    position: relative;
    left: -8px;
    bottom: -11px;
}

ul.dropdown-menu li p {
    margin-left: 1em;
    margin-bottom: 0;
}

.ct-chart .ct-label.ct-horizontal,
.ct-chart .ct-label.ct-vertical {
    color: rgba(0, 0, 0, 0.3);
}

.ct-chart .ct-grid.ct-horizontal,
.ct-chart .ct-grid.ct-vertical {
    shape-rendering: crispEdges;
    stroke-width: 1px;
    stroke-dasharray: 1px 4px;
    stroke: rgba(0, 0, 0, 0.2);
}

.ct-chart .ct-point {
    stroke-width: 10px;
}

.ct-chart .ct-line {
    stroke-width: 3px;
}

.ct-chart .ct-series.ct-series-a .ct-point {
    stroke: #3299BB;
}

.ct-chart .ct-series.ct-series-a .ct-line {
    stroke: #3299BB;
}

.ct-label {
    font-size: 1rem !important;
}

@keyframes dashoffset-seven {
    0% {
        stroke-dashoffset: 7px;
    }
    100% {
        stroke-dashoffset: 0px;
    }
}

.ct-chart .ct-series.ct-series-a .ct-line {
    stroke: #3299BB;
    stroke-width: 3px;
    stroke-dasharray: 5px 3px;
    animation: dashoffset-seven 250ms infinite linear;
}