/* ----------------------------------------------------------------
	Dark Scheme
-----------------------------------------------------------------*/

.dark,
.dark h4,
.dark h5 {
    color: #EEE;
}

.dark a:hover {
    color: #EEE;
}

.dark .line {
    border-top-color: rgba(255, 255, 255, 0.1);
}

.section.dark {
    background-color: #282828;
    border-color: rgba(255, 255, 255, 0.1);
}

#header.full-header.dark #header-wrap:not(.not-dark) {
    border-bottom-color: rgba(255, 255, 255, 0.15);
}

#header.transparent-header.full-header.dark:not(.sticky-header) #header-wrap:not(.not-dark) {
    border-bottom-color: rgba(255, 255, 255, 0.2);
}

.dark #logo a {
    color: #CCC;
}

#header.full-header.dark #header-wrap:not(.not-dark) #logo {
    border-right-color: rgba(255, 255, 255, 0.15);
}

#header.transparent-header.full-header.dark:not(.sticky-header) #header-wrap:not(.not-dark) #logo {
    border-right-color: rgba(255, 255, 255, 0.2);
}

.dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a {
    color: #EEE;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#header.full-header.dark #header-wrap:not(.not-dark) #primary-menu > ul {
    border-right-color: rgba(255, 255, 255, 0.15);
}

#header.transparent-header.full-header.dark:not(.sticky-header) #header-wrap:not(.not-dark) #primary-menu > ul {
    border-right-color: rgba(255, 255, 255, 0.2);
}

.dark #header-wrap:not(.not-dark) #primary-menu > ul > li:hover a {
    color: #EEE;
}

.dark .button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.dark .i-plain {
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dark .i-plain:hover {
    color: #DDD;
}

.dark .social-icon {
    color: #DDD !important;
    border-color: #DDD;
}

#footer.dark .social-icon.si-borderless {
    color: #555 !important;
}

#footer.dark, .dark #footer {
    background-color: #333;
    color: #CCC;
    border-top-color: rgba(0,0,0,0.2);
}

.dark .line, .dark .double-line {
    border-top-color: rgba(255,255,255,0.1);
}

.dark .social-icon i:last-child {
    color: #FFF !important;
}

.dark .social-icon:hover {
    color: #FFF !important;
    border-color: transparent;
}

.dark .testimonial {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.dark .counter {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.dark .form-process {
    background-color: transparent;
}

.dark .input-group-addon, .dark .input-group-btn .btn-default {
    color: #999;
    background-color: rgba(0,0,0,0.35);
    border-color: rgba(0,0,0,0.25);
}

.dark .form-control:not(.not-dark), .dark .sm-form-control:not(.not-dark) {
    color: #999;
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.25);
}

#footer.dark {
    background-color: #333;
    color: #CCC;
    border-top-color: rgba(0, 0, 0, 0.2);
}

.dark #copyrights {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.dark .copyright-links a {
    color: rgba(255, 255, 255, 0.25);
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.dark .copyright-links a:hover {
    color: rgba(255, 255, 255, 0.35);
    border-bottom-color: rgba(255, 255, 255, 0.35);
}

.dark .footer-widgets-wrap a {
    color: #CCC;
}

.dark .footer-widgets-wrap a:hover {
    color: #999;
}

.dark .widget h4 {
    color: #DDD;
}

.dark .widget p {
    opacity: 0.8;
}

/* Dark Scheme - Bootstrap
-----------------------------------------------------------------*/

.dark .form-control:not(.not-dark) {
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.25);
}

.dark .form-control:not(.not-dark):active,
.dark .form-control:not(.not-dark):focus {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.25) !important;
}

.dark .form-control:not(.not-dark)::-moz-placeholder {
    color: #666;
}

.dark .form-control.error:not(.not-dark):-ms-input-placeholder {
    color: rgba(228, 44, 62, 0.6);
}

.dark .form-control.error:not(.not-dark)::-webkit-input-placeholder {
    color: rgba(228, 44, 62, 0.6);
}

.dark .btn:hover,
.dark .btn:focus {
    color: #FFF;
}

.dark .input-group-addon {
    color: #999;
    background-color: rgba(0, 0, 0, 0.35);
    border-color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px) {

    #header.dark.transparent-header {
        background-color: #333;
        border-bottom-color: rgba(255, 255, 255, 0.1);
    }

    .dark #primary-menu:not(.not-dark) ul li {
        border-top-color: rgba(255, 255, 255, 0.1) !important;
    }


    body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li {
        border-top-color: #EEE !important;
    }

    body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a {
        color: #1ABC9C !important;
    }

}
