/* SD/TW : theme green */
.theme-sdtl.color-green .sidebar {
    background-color: #0e3029;
}

.theme-sdtl.color-green:not(.sidebar-top) .logopanel,
.theme-sdtl.color-green .topbar .header-left .topnav > ul > li.active > a::before,
.theme-sdtl.color-green .topbar .header-left .topnav > ul > li.open > a::before,
.theme-sdtl.color-green .topbar .header-left .topnav > ul > li > a:hover::before,
.theme-sdtl.color-green .topbar .header-left .topnav > ul > li > a:focus::before {
    background: #18a689;
}

.theme-sdtl.color-green .topbar {
    background: #ffffff;
}

.theme-sdtl.color-green .sidebar .sidebar-inner {
    background: #0e3029;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .nav-sidebar > li.active > a,
.theme-sdtl.color-green .nav-sidebar > li.active > a:hover,
.theme-sdtl.color-green .nav-sidebar > li.active > a:focus {
    background: #18a689;
}

.theme-sdtl.color-green:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li.nav-parent > a:hover,
.theme-sdtl.color-green:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a:hover,
.theme-sdtl.color-green:not(.sidebar-collapsed) .nav-sidebar > li > a:active,
.theme-sdtl.color-green:not(.sidebar-collapsed) .nav-sidebar > li > a:focus {
    background: none;
    color: #fff;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #05201b;
    color: #FFF;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .nav-sidebar > li.active > a:hover {
    background: #18a689;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .nav-sidebar .nav-parent .children,
.theme-sdtl.color-green .sidebar .sidebar-inner .sidebar-footer,
.theme-sdtl.color-green .sidebar .sidebar-inner .sidebar-top .searchform input {
    background: #05201b;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .menu-title {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtl.color-green .sidebar .sidebar-inner .sidebar-top .userlogged > i {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtl.color-green.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.nav-active.active > a {
    background: #18a689 !important;
}

.theme-sdtl.color-green.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.active > a span:not(.badge) {
    background: #18a689 !important;
}

.theme-sdtl.color-green.sidebar-collapsed .topbar .header-left .topnav .menutoggle {
    background: #18a689;
}

.theme-sdtl.color-green .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #18a689;
    color: #fff;
}

.theme-sdtl.color-green.sidebar-top .nav-sidebar > li.nav-hover > a,
.theme-sdtl.color-green.rtl .sidebar-top .nav-sidebar > li.nav-hover > a {
    background: #05201b !important;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .sidebar-footer .pull-left:hover,
.theme-sdtl.color-green .sidebar-footer .pull-left:active,
.theme-sdtl.color-green .sidebar-footer .pull-left:focus {
    background-color: #020f0c;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .nav-sidebar .children:after {
    border-left: 1px solid #020f0c;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .nav-sidebar .children li:before {
    background: #020f0c;
}

.theme-sdtl.color-green.submenu-hover .sidebar .sidebar-inner .nav-sidebar > li.nav-parent.nav-hover:before {
    border-right-color: #05201b;
}

.theme-sdtl.color-green .sidebar .sidebar-inner .nav-sidebar .children > li.active > a {
    color: #ffffff !important;
}

.theme-sdtl.color-default:not(.sidebar-top) .logopanel {
    background: #181a1d;
}

.theme-sdtl.color-default:not(.sidebar-top) .logopanel {
    background: #181a1d;
}

.theme-sdtl.color-default .topbar {
    background: #ffffff;
}

.theme-sdtl.color-blue .sidebar {
    background-color: #1e3948;
}

.theme-sdtl.color-blue:not(.sidebar-top) .logopanel,
.theme-sdtl.color-blue .topbar .header-left .topnav > ul > li > a:hover::before,
.theme-sdtl.color-blue .topbar .header-left .topnav > ul > li > a:focus::before {
    background: #4a89dc;
}

.theme-sdtl.color-blue .topbar {
    background: #ffffff;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner {
    background: #1e3948;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .menu-title {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtl.color-blue.sidebar-collapsed .topbar .header-left .topnav .menutoggle {
    background: #4a89dc;
}

.theme-sdtl.color-blue .topbar .header-left .topnav .menu__handle {
    background: none;
}

.bg-clean {
    background: #f8f8f8;
}

.bg-lighter {
    background: #efefef;
}

.bg-light-default {
    background: #e9e9e9;
}

.bg-light-blue {
    background: #e2ebef;
}

.bg-light-purple {
    background: #e9ecf5;
}

.bg-light-dark {
    background: #dce1e4;
}

.topbar .header-left .topnav > ul > li > a::before {
    background-color: #319db5 !important;
}

.color-blue .topbar .header-left .topnav > ul > li > a::before,
.color-blue.sidebar-collapsed .topbar .header-left .topnav .menutoggle,
.color-blue .progress-bar-primary,
.color-blue.sidebar-collapsed .topbar .header-left .topnav .menu__handle {
    background-color: #4a89dc !important;
}

.color-blue .topbar .header-left .topnav > ul > li > a:hover,
.color-blue .topbar .header-left .topnav > ul > li > a:focus,
.color-blue .topbar .header-left .topnav > ul > li > a:hover,
.color-blue .topbar .header-left .topnav > ul > li > a:focus,
.color-blue .c-primary,
.color-blue .main-content .footer .copyright a {
    color: #4a89dc;
}

.color-blue .switch-input:checked ~ .switch-label {
    background: #4a89dc;
}

/* SD/TW : theme orange */
.theme-sdtl.color-orange .sidebar {
    background-color: #4a3526;
}

.theme-sdtl.color-orange:not(.sidebar-top) .logopanel,
.theme-sdtl.color-orange .topbar .header-left .topnav > ul > li.active > a::before,
.theme-sdtl.color-orange .topbar .header-left .topnav > ul > li.open > a::before,
.theme-sdtl.color-orange .topbar .header-left .topnav > ul > li > a:hover::before,
.theme-sdtl.color-orange .topbar .header-left .topnav > ul > li > a:focus::before {
    background: #b66d39;
}

.theme-sdtl.color-orange .topbar {
    background: #ffffff;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner {
    background: #4a3526;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .nav-sidebar > li.active > a,
.theme-sdtl.color-orange .nav-sidebar > li.active > a:hover,
.theme-sdtl.color-orange .nav-sidebar > li.active > a:focus {
    background: #b66d39;
}

.theme-sdtl.color-orange:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li.nav-parent > a:hover,
.theme-sdtl.color-orange:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a:hover,
.theme-sdtl.color-orange:not(.sidebar-collapsed) .nav-sidebar > li > a:active,
.theme-sdtl.color-orange:not(.sidebar-collapsed) .nav-sidebar > li > a:focus {
    background: none;
    color: #fff;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #412715;
    color: #FFF;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .nav-sidebar > li.active > a:hover {
    background: #b66d39;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .nav-sidebar .nav-parent .children,
.theme-sdtl.color-orange .sidebar .sidebar-inner .sidebar-footer,
.theme-sdtl.color-orange .sidebar .sidebar-inner .sidebar-top .searchform input {
    background: #412715;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .menu-title {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .sidebar-top .userlogged > i {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtl.color-orange.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.nav-active.active > a {
    background: #b66d39 !important;
}

.theme-sdtl.color-orange.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.active > a span:not(.badge) {
    background: #b66d39 !important;
}

.theme-sdtl.color-orange.sidebar-collapsed .topbar .header-left .topnav .menutoggle {
    background: #b66d39;
}

.theme-sdtl.color-orange .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #b66d39;
    color: #fff;
}

.theme-sdtl.color-orange.sidebar-top .nav-sidebar > li.nav-hover > a,
.theme-sdtl.color-orange.rtl .sidebar-top .nav-sidebar > li.nav-hover > a {
    background: #412715 !important;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .sidebar-footer .pull-left:hover,
.theme-sdtl.color-orange .sidebar-footer .pull-left:active,
.theme-sdtl.color-orange .sidebar-footer .pull-left:focus {
    background-color: #321e10;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .nav-sidebar .children:after {
    border-left: 1px solid #321e10;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .nav-sidebar .children li:before {
    background: #321e10;
}

.theme-sdtl.color-orange.submenu-hover .sidebar .sidebar-inner .nav-sidebar > li.nav-parent.nav-hover:before {
    border-right-color: #412715;
}

.theme-sdtl.color-orange .sidebar .sidebar-inner .nav-sidebar .children > li.active > a {
    color: #ffffff !important;
}

/* SD/TW : theme purple */
.theme-sdtl.color-purple .sidebar {
    background-color: #393f51;
}

.theme-sdtl.color-purple:not(.sidebar-top) .logopanel,
.theme-sdtl.color-purple .topbar .header-left .topnav > ul > li.active > a::before,
.theme-sdtl.color-purple .topbar .header-left .topnav > ul > li.open > a::before,
.theme-sdtl.color-purple .topbar .header-left .topnav > ul > li > a:hover::before,
.theme-sdtl.color-purple .topbar .header-left .topnav > ul > li > a:focus::before {
    background: #6e62b5;
}

.theme-sdtl.color-purple .topbar {
    background: #ffffff;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner {
    background: #393f51;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .nav-sidebar > li.active > a,
.theme-sdtl.color-purple .nav-sidebar > li.active > a:hover,
.theme-sdtl.color-purple .nav-sidebar > li.active > a:focus {
    background: #6e62b5;
}

.theme-sdtl.color-purple:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li.nav-parent > a:hover,
.theme-sdtl.color-purple:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a:hover,
.theme-sdtl.color-purple:not(.sidebar-collapsed) .nav-sidebar > li > a:active,
.theme-sdtl.color-purple:not(.sidebar-collapsed) .nav-sidebar > li > a:focus {
    background: none;
    color: #fff;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #2e3342;
    color: #FFF;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .nav-sidebar > li.active > a:hover {
    background: #6e62b5;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .nav-sidebar .nav-parent .children,
.theme-sdtl.color-purple .sidebar .sidebar-inner .sidebar-footer,
.theme-sdtl.color-purple .sidebar .sidebar-inner .sidebar-top .searchform input {
    background: #2e3342;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .menu-title {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .sidebar-top .userlogged > i {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtl.color-purple.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.nav-active.active > a {
    background: #6e62b5 !important;
}

.theme-sdtl.color-purple.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.active > a span:not(.badge) {
    background: #6e62b5 !important;
}

.theme-sdtl.color-purple.sidebar-collapsed .topbar .header-left .topnav .menutoggle {
    background: #6e62b5;
}

.theme-sdtl.color-purple .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #6e62b5;
    color: #fff;
}

.theme-sdtl.color-purple.sidebar-top .nav-sidebar > li.nav-hover > a,
.theme-sdtl.color-purple.rtl .sidebar-top .nav-sidebar > li.nav-hover > a {
    background: #2e3342 !important;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .sidebar-footer .pull-left:hover,
.theme-sdtl.color-purple .sidebar-footer .pull-left:active,
.theme-sdtl.color-purple .sidebar-footer .pull-left:focus {
    background-color: #20232d;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .nav-sidebar .children:after {
    border-left: 1px solid #20232d;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .nav-sidebar .children li:before {
    background: #20232d;
}

.theme-sdtl.color-purple.submenu-hover .sidebar .sidebar-inner .nav-sidebar > li.nav-parent.nav-hover:before {
    border-right-color: #2e3342;
}

.theme-sdtl.color-purple .sidebar .sidebar-inner .nav-sidebar .children > li.active > a {
    color: #ffffff !important;
}

/* SD/TW : theme blue */
.theme-sdtl.color-blue .sidebar {
    background-color: #1e3948;
}

.theme-sdtl.color-blue:not(.sidebar-top) .logopanel,
.theme-sdtl.color-blue .topbar .header-left .topnav > ul > li.active > a::before,
.theme-sdtl.color-blue .topbar .header-left .topnav > ul > li.open > a::before,
.theme-sdtl.color-blue .topbar .header-left .topnav > ul > li > a:hover::before,
.theme-sdtl.color-blue .topbar .header-left .topnav > ul > li > a:focus::before {
    background: #4a89dc;
}

.theme-sdtl.color-blue .topbar {
    background: #ffffff;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner {
    background: #1e3948;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .nav-sidebar > li.active > a,
.theme-sdtl.color-blue .nav-sidebar > li.active > a:hover,
.theme-sdtl.color-blue .nav-sidebar > li.active > a:focus {
    background: #4a89dc;
}

.theme-sdtl.color-blue:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li.nav-parent > a:hover,
.theme-sdtl.color-blue:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a:hover,
.theme-sdtl.color-blue:not(.sidebar-collapsed) .nav-sidebar > li > a:active,
.theme-sdtl.color-blue:not(.sidebar-collapsed) .nav-sidebar > li > a:focus {
    background: none;
    color: #fff;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #182e3a;
    color: #FFF;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .nav-sidebar > li.active > a:hover {
    background: #4a89dc;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .nav-sidebar .nav-parent .children,
.theme-sdtl.color-blue .sidebar .sidebar-inner .sidebar-footer,
.theme-sdtl.color-blue .sidebar .sidebar-inner .sidebar-top .searchform input {
    background: #182e3a;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .menu-title {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .sidebar-top .userlogged > i {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtl.color-blue.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.nav-active.active > a {
    background: #4a89dc !important;
}

.theme-sdtl.color-blue.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.active > a span:not(.badge) {
    background: #4a89dc !important;
}

.theme-sdtl.color-blue.sidebar-collapsed .topbar .header-left .topnav .menutoggle {
    background: #4a89dc;
}

.theme-sdtl.color-blue .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #4a89dc;
    color: #fff;
}

.theme-sdtl.color-blue.sidebar-top .nav-sidebar > li.nav-hover > a,
.theme-sdtl.color-blue.rtl .sidebar-top .nav-sidebar > li.nav-hover > a {
    background: #182e3a !important;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .sidebar-footer .pull-left:hover,
.theme-sdtl.color-blue .sidebar-footer .pull-left:active,
.theme-sdtl.color-blue .sidebar-footer .pull-left:focus {
    background-color: #0f1c24;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .nav-sidebar .children:after {
    border-left: 1px solid #0f1c24;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .nav-sidebar .children li:before {
    background: #0f1c24;
}

.theme-sdtl.color-blue.submenu-hover .sidebar .sidebar-inner .nav-sidebar > li.nav-parent.nav-hover:before {
    border-right-color: #182e3a;
}

.theme-sdtl.color-blue .sidebar .sidebar-inner .nav-sidebar .children > li.active > a {
    color: #ffffff !important;
}

.theme-sdtd .topbar .header-right .header-menu .badge-header.badge-primary {
    background-color: #fff !important;
    color: #121212 !important;
}

/* SD/TD : theme default */
.theme-sdtd.color-default .logopanel {
    background: #181a1d;
}

.theme-sdtd.color-default .sidebar .sidebar-inner {
    background: #2b2e33;
}

.theme-sdtd.color-default .sidebar .sidebar-inner .nav-sidebar .nav-parent .children,
.theme-sdtd.color-default .sidebar .sidebar-inner .sidebar-footer,
.theme-sdtd.color-default .sidebar .sidebar-inner .sidebar-top .searchform input {
    background: #181a1d;
}

.theme-sdtd.color-default.sidebar-hover .topnav .logopanel2,
.theme-sdtd.color-default .topbar {
    background: #181a1d;
    border-bottom: none !important;
}

.theme-sdtd.color-default .topbar a,
.theme-sdtd.color-default .topbar > div > ul > li > a > i,
.theme-sdtd #quickview-toggle i,
.theme-sdtd.color-default .topbar .header-left .topnav > ul > li > a,
.theme-sdtd.color-default .topbar .header-right .header-menu #notifications-header > a > i,
.theme-sdtd.color-default .topbar .header-right .header-menu #language-header a,
.theme-sdtd.color-default .topbar .header-right .header-menu #messages-header > a > i,
.theme-sdtd.color-default .topbar .header-right .header-menu #user-header a,
.theme-sdtd.color-default .topbar .header-right .header-menu #chat-toggle i {
    color: #e8e8e8;
}

.theme-sdtd.color-default .topbar .dropdown-menu > li > a {
    color: #666666 !important;
}

.theme-sdtd.color-default .topbar #user-header .dropdown-menu > li > a {
    color: #959fa9 !important;
}

.theme-sdtd.color-default .topbar #user-header .dropdown-menu > li > a:hover {
    color: #b3bac1 !important;
}

.theme-sdtd.color-default .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtd.color-default .topbar .header-left ul.nav-icons li span {
    color: #dfdfdf;
}

.theme-sdtd.color-default .topbar .header-left .topnav .menu__handle::before,
.theme-sdtd.color-default .topbar .header-left .topnav .menu__handle::after,
.theme-sdtd.color-default .menu__handle span {
    background: #fff;
}

.theme-sdtd.color-default.sidebar-hover .logopanel2 h1 a {
    background: url(../images/logo/logo-white.png) no-repeat;
}

.theme-sdtl.color-default:not(.sidebar-top) .sidebar .sidebar-inner .nav-sidebar .children > li.active > a {
    color: #ffffff !important;
}

/* SD/TD : theme green */
.theme-sdtd.color-green.sidebar-hover .topnav .logopanel2,
.theme-sdtd.color-green .topbar {
    background: #18a689;
    border-bottom: none !important;
}

.theme-sdtd.color-green .topbar a,
.theme-sdtd.color-green .topbar i,
.theme-sdtd.color-green .topbar .header-left .topnav > ul > li > a,
.theme-sdtd.color-green .topbar .header-right .header-menu #notifications-header > a > i,
.theme-sdtd.color-green .topbar .header-right .header-menu #language-header a,
.theme-sdtd.color-green .topbar .header-right .header-menu #messages-header > a > i,
.theme-sdtd.color-green .topbar .header-right .header-menu #user-header a,
.theme-sdtd.color-green .topbar .header-right .header-menu #chat-toggle i {
    color: #e8e8e8;
}

.theme-sdtd.color-green .topbar .dropdown-menu > li > a {
    color: #666666 !important;
}

.theme-sdtd.color-green .topbar #user-header .dropdown-menu > li > a {
    color: #959fa9 !important;
}

.theme-sdtd.color-green .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtd.color-green .topbar .header-left ul.nav-icons li span {
    color: #dfdfdf;
}

.theme-sdtd.color-green .topbar .header-left .topnav .menu__handle::before,
.theme-sdtd.color-green .topbar .header-left .topnav .menu__handle::after,
.theme-sdtd.color-green .menu__handle span {
    background: #fff;
}

.theme-sdtd.color-green .sidebar {
    background-color: #0e3029;
}

.theme-sdtd.color-green .logopanel {
    background: #18a689;
}

.theme-sdtd.color-green .sidebar .sidebar-inner {
    background: #0e3029;
}

.theme-sdtd.color-green .sidebar .sidebar-inner .nav-sidebar > li.active > a,
.theme-sdtd.color-green .nav-sidebar > li.active > a:hover,
.theme-sdtd.color-green .nav-sidebar > li.active > a:focus {
    background: #18a689;
}

.theme-sdtd.color-green:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li.nav-parent > a:hover,
.theme-sdtd.color-green:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a:hover,
.theme-sdtd.color-green:not(.sidebar-collapsed) .nav-sidebar > li > a:active,
.theme-sdtd.color-green:not(.sidebar-collapsed) .nav-sidebar > li > a:focus {
    background: none;
    color: #fff;
}

.theme-sdtd.color-green .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #05201b;
    color: #FFF;
}

.theme-sdtd.color-green .sidebar .sidebar-inner .nav-sidebar .nav-parent .children,
.theme-sdtd.color-green .sidebar .sidebar-inner .sidebar-footer,
.theme-sdtd.color-green .sidebar .sidebar-inner .sidebar-top .searchform input {
    background: #05201b;
}

.theme-sdtd.color-green .sidebar .sidebar-inner .menu-title {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtd.color-green .sidebar .sidebar-inner .sidebar-top .userlogged > i {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtd.color-green .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #18a689;
    color: #fff;
}

.theme-sdtd.color-green.sidebar-top .nav-sidebar > li.nav-hover > a,
.theme-sdtd.color-green.rtl .sidebar-top .nav-sidebar > li.nav-hover > a {
    background: #05201b !important;
}

.theme-sdtd.color-green .sidebar .sidebar-inner .sidebar-footer .pull-left:hover,
.theme-sdtd.color-green .sidebar-footer .pull-left:active,
.theme-sdtd.color-green .sidebar-footer .pull-left:focus {
    background-color: #020f0c;
}

.theme-sdtd.color-green .sidebar .sidebar-inner .nav-sidebar .children:after {
    border-left: 1px solid #020f0c;
}

.theme-sdtd.color-green .sidebar .sidebar-inner .nav-sidebar .children li:before {
    background: #020f0c;
}

.theme-sdtd.color-green.sidebar-hover .logopanel2 h1 a {
    background: url(../images/logo/logo-white.png) no-repeat;
}

.theme-sdtd.color-green.submenu-hover .sidebar .sidebar-inner .nav-sidebar > li.nav-parent.nav-hover:before {
    border-right-color: #05201b;
}

.theme-sdtl.color-green:not(.sidebar-top) .sidebar .sidebar-inner .nav-sidebar .children > li.active > a {
    color: #ffffff !important;
}

/* SD/TD : theme orange */
.theme-sdtd.color-orange.sidebar-hover .topnav .logopanel2,
.theme-sdtd.color-orange .topbar {
    background: #b66d39;
    border-bottom: none !important;
}

.theme-sdtd.color-orange .topbar a,
.theme-sdtd.color-orange .topbar i,
.theme-sdtd.color-orange .topbar .header-left .topnav > ul > li > a,
.theme-sdtd.color-orange .topbar .header-right .header-menu #notifications-header > a > i,
.theme-sdtd.color-orange .topbar .header-right .header-menu #language-header a,
.theme-sdtd.color-orange .topbar .header-right .header-menu #messages-header > a > i,
.theme-sdtd.color-orange .topbar .header-right .header-menu #user-header a,
.theme-sdtd.color-orange .topbar .header-right .header-menu #chat-toggle i {
    color: #e8e8e8;
}

.theme-sdtd.color-orange .topbar .dropdown-menu > li > a {
    color: #666666 !important;
}

.theme-sdtd.color-orange .topbar #user-header .dropdown-menu > li > a {
    color: #959fa9 !important;
}

.theme-sdtd.color-orange .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtd.color-orange .topbar .header-left ul.nav-icons li span {
    color: #dfdfdf;
}

.theme-sdtd.color-orange .topbar .header-left .topnav .menu__handle::before,
.theme-sdtd.color-orange .topbar .header-left .topnav .menu__handle::after,
.theme-sdtd.color-orange .menu__handle span {
    background: #fff;
}

.theme-sdtd.color-orange .sidebar {
    background-color: #4a3526;
}

.theme-sdtd.color-orange .logopanel {
    background: #b66d39;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner {
    background: #4a3526;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .nav-sidebar > li.active > a,
.theme-sdtd.color-orange .nav-sidebar > li.active > a:hover,
.theme-sdtd.color-orange .nav-sidebar > li.active > a:focus {
    background: #b66d39;
}

.theme-sdtd.color-orange:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li.nav-parent > a:hover,
.theme-sdtd.color-orange:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a:hover,
.theme-sdtd.color-orange:not(.sidebar-collapsed) .nav-sidebar > li > a:active,
.theme-sdtd.color-orange:not(.sidebar-collapsed) .nav-sidebar > li > a:focus {
    background: none;
    color: #fff;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #412715;
    color: #FFF;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .nav-sidebar > li.active > a:hover {
    background: #b66d39;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .nav-sidebar .nav-parent .children,
.theme-sdtd.color-orange .sidebar .sidebar-inner .sidebar-footer,
.theme-sdtd.color-orange .sidebar .sidebar-inner .sidebar-top .searchform input {
    background: #412715;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .menu-title {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .sidebar-top .userlogged > i {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtd.color-orange.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.nav-active.active > a {
    background: #b66d39 !important;
}

.theme-sdtd.color-orange.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.active > a span:not(.badge) {
    background: #b66d39 !important;
}

.theme-sdtd.color-orange.sidebar-collapsed .topbar .header-left .topnav .menutoggle {
    background: #b66d39;
}

.theme-sdtd.color-orange .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #b66d39;
    color: #fff;
}

.theme-sdtd.color-orange.sidebar-top .nav-sidebar > li.nav-hover > a,
.theme-sdtd.color-orange.rtl .sidebar-top .nav-sidebar > li.nav-hover > a {
    background: #412715 !important;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .sidebar-footer .pull-left:hover,
.theme-sdtd.color-orange .sidebar-footer .pull-left:active,
.theme-sdtd.color-orange .sidebar-footer .pull-left:focus {
    background-color: #321e10;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .nav-sidebar .children:after {
    border-left: 1px solid #321e10;
}

.theme-sdtd.color-orange .sidebar .sidebar-inner .nav-sidebar .children li:before {
    background: #321e10;
}

.theme-sdtd.color-orange.sidebar-hover .logopanel2 h1 a {
    background: url(../images/logo/logo-white.png) no-repeat;
}

.theme-sdtd.color-orange.submenu-hover .sidebar .sidebar-inner .nav-sidebar > li.nav-parent.nav-hover:before {
    border-right-color: #412715;
}

.theme-sdtl.color-orange:not(.sidebar-top) .sidebar .sidebar-inner .nav-sidebar .children > li.active > a {
    color: #ffffff !important;
}

/* SD/TD : theme purple */
.theme-sdtd.color-purple.sidebar-hover .topnav .logopanel2,
.theme-sdtd.color-purple .sidebar {
    background-color: #393f51;
}

.theme-sdtd.color-purple.sidebar-collapsed .topbar .header-left .topnav .menutoggle {
    background: #6e62b5;
}

.theme-sdtd.color-purple .sidebar .logopanel,
.theme-sdtd.color-purple.sidebar-hover .topnav .logopanel2 {
    background: #6e62b5;
}

.theme-sdtd.color-purple .sidebar .logopanel h1 a,
.theme-sdtd.color-purple.sidebar-hover .logopanel2 h1 a {
    background: url(../images/logo/logo-white.png) no-repeat;
}

.theme-sdtd.color-purple.sidebar-top.fixed-topbar .sidebar .logopanel,
.theme-sdtd.color-purple.sidebar-top.fixed-sidebar > .fixed-topbar .sidebar .logopanel,
.rtl .theme-sdtd.color-purple.sidebar-top.fixed-topbar .sidebar .logopanel,
.rtl .theme-sdtd.color-purple.sidebar-top.fixed-sidebar > .fixed-topbar .sidebar .logopanel {
    background: #6e62b5;
}

.theme-sdtd.color-purple .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtd.color-purple .topbar .header-left .topnav .menu__handle::before,
.theme-sdtd.color-purple .topbar .header-left .topnav .menu__handle::after,
.theme-sdtd.color-purple .menu__handle span {
    background: #fff;
}

.theme-sdtd.color-purple .topbar .header-left ul.nav-icons li span {
    color: #dfdfdf;
}

.theme-sdtd.color-purple .topbar .header-left .topnav .menu__handle::before,
.theme-sdtd.color-purple .topbar .header-left .topnav .menu__handle::after,
.theme-sdtd.color-purple .menu__handle span {
    background: #fff;
}

.theme-sdtd.color-purple .topbar {
    background: #6e62b5;
    border-bottom: none !important;
}

.theme-sdtd.color-purple .topbar a,
.theme-sdtd.color-purple .topbar i,
.theme-sdtd.color-purple .topbar .header-left .topnav > ul > li > a,
.theme-sdtd.color-purple .topbar .header-right .header-menu #notifications-header > a > i,
.theme-sdtd.color-purple .topbar .header-right .header-menu #language-header a,
.theme-sdtd.color-purple .topbar .header-right .header-menu #messages-header > a > i,
.theme-sdtd.color-purple .topbar .header-right .header-menu #user-header a,
.theme-sdtd.color-purple .topbar .header-right .header-menu #chat-toggle i {
    color: #e8e8e8;
}

.theme-sdtd.color-purple .topbar .dropdown-menu > li > a {
    color: #666666 !important;
}

.theme-sdtd.color-purple .topbar #user-header .dropdown-menu > li > a {
    color: #959fa9 !important;
}

.theme-sdtd.color-purple .sidebar .sidebar-inner {
    background: #393f51;
}

.theme-sdtd.color-purple .sidebar .sidebar-inner .nav-sidebar > li.active > a,
.theme-sdtd.color-purple .nav-sidebar > li.active > a:hover,
.theme-sdtd.color-purple .nav-sidebar > li.active > a:focus {
    background: #6e62b5;
}

.theme-sdtd.color-purple:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li.nav-parent > a:hover,
.theme-sdtd.color-purple:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a:hover,
.theme-sdtd.color-purple:not(.sidebar-collapsed) .nav-sidebar > li > a:active,
.theme-sdtd.color-purple:not(.sidebar-collapsed) .nav-sidebar > li > a:focus {
    background: none;
    color: #fff;
}

.theme-sdtd.color-purple .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #2e3342;
    color: #FFF;
}

.theme-sdtd.color-purple .sidebar .sidebar-inner .nav-sidebar > li.active > a:hover {
    background: #6e62b5;
}

.theme-sdtd.color-purple .sidebar .sidebar-inner .nav-sidebar .nav-parent .children,
.theme-sdtd.color-purple .sidebar .sidebar-inner .sidebar-footer,
.theme-sdtd.color-purple .sidebar .sidebar-inner .sidebar-top .searchform input {
    background: #2e3342;
}

.theme-sdtd.color-purple .sidebar .sidebar-inner .menu-title {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtd.color-purple .sidebar .sidebar-inner .sidebar-top .userlogged > i {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtd.color-purple.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.nav-active.active > a {
    background: #6e62b5 !important;
}

.theme-sdtd.color-purple.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.active > a span:not(.badge) {
    background: #6e62b5 !important;
}

.theme-sdtd.color-purple .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #6e62b5;
    color: #fff;
}

.theme-sdtd.color-purple.sidebar-top .nav-sidebar > li.nav-hover > a,
.theme-sdtd.color-purple.rtl .sidebar-top .nav-sidebar > li.nav-hover > a {
    background: #2e3342 !important;
}

.theme-sdtd.color-purple .sidebar .sidebar-inner .nav-sidebar .children:after {
    border-left: 1px solid #20232d;
}

.theme-sdtd.color-purple .sidebar .sidebar-inner .nav-sidebar .children li:before {
    background: #20232d;
}

.theme-sdtd.color-purple.sidebar-hover .logopanel2 h1 a {
    background: url(../images/logo/logo-white.png) no-repeat;
}

.theme-sdtd.color-purple.submenu-hover .sidebar .sidebar-inner .nav-sidebar > li.nav-parent.nav-hover:before {
    border-right-color: #2e3342;
}

.theme-sdtl.color-purple:not(.sidebar-top) .sidebar .sidebar-inner .nav-sidebar .children > li.active > a {
    color: #ffffff !important;
}

/* SD/TD : theme blue */
.theme-sdtd.color-blue.sidebar-hover .topnav .logopanel2,
.theme-sdtd.color-blue .topbar {
    background: #4a89dc;
    border-bottom: none !important;
}

.theme-sdtd.color-blue .topbar a,
.theme-sdtd.color-blue .topbar i,
.theme-sdtd.color-blue .topbar .header-left .topnav > ul > li > a,
.theme-sdtd.color-blue .topbar .header-right .header-menu #notifications-header > a > i,
.theme-sdtd.color-blue .topbar .header-right .header-menu #language-header a,
.theme-sdtd.color-blue .topbar .header-right .header-menu #messages-header > a > i,
.theme-sdtd.color-blue .topbar .header-right .header-menu #user-header a,
.theme-sdtd.color-blue .topbar .header-right .header-menu #chat-toggle i {
    color: #e8e8e8;
}

.theme-sdtd.color-blue .topbar .dropdown-menu > li > a {
    color: #666666 !important;
}

.theme-sdtd.color-blue .topbar #user-header .dropdown-menu > li > a {
    color: #959fa9 !important;
}

.theme-sdtd.color-blue .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtd.color-blue .topbar .header-left ul.nav-icons li span {
    color: #dfdfdf;
}

.theme-sdtd.color-blue .topbar .header-left .topnav .menu__handle::before,
.theme-sdtd.color-blue .topbar .header-left .topnav .menu__handle::after,
.theme-sdtd.color-blue .menu__handle span {
    background: #fff;
}

.theme-sdtd.color-blue .sidebar {
    background-color: #f2f4f7;
}

.theme-sdtd.color-blue.sidebar-collapsed .sidebar {
    top: 50px;
}

.theme-sdtd.color-blue .sidebar .logopanel,
.theme-sdtd.color-blue.sidebar-hover .topnav .logopanel2 {
    background: #4a89dc;
}

.theme-sdtd.color-blue.sidebar-top.fixed-topbar .sidebar .logopanel,
.theme-sdtd.color-blue.sidebar-top.fixed-sidebar > .fixed-topbar .sidebar .logopanel,
.rtl .theme-sdtd.color-blue.sidebar-top.fixed-topbar .sidebar .logopanel,
.rtl .theme-sdtd.color-blue.sidebar-top.fixed-sidebar > .fixed-topbar .sidebar .logopanel {
    background: #4a89dc;
}

.theme-sdtd.color-blue .sidebar {
    background-color: #1e3948;
}

.theme-sdtd.color-blue .logopanel {
    background: #4a89dc;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner {
    background: #1e3948;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .nav-sidebar > li.active > a,
.theme-sdtd.color-blue .nav-sidebar > li.active > a:hover,
.theme-sdtd.color-blue .nav-sidebar > li.active > a:focus {
    background: #4a89dc;
}

.theme-sdtd.color-blue:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li.nav-parent > a:hover,
.theme-sdtd.color-blue:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a:hover,
.theme-sdtd.color-blue:not(.sidebar-collapsed) .nav-sidebar > li > a:active,
.theme-sdtd.color-blue:not(.sidebar-collapsed) .nav-sidebar > li > a:focus {
    background: none;
    color: #fff;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #182e3a;
    color: #FFF;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .nav-sidebar > li.active > a:hover {
    background: #4a89dc;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .nav-sidebar .nav-parent .children,
.theme-sdtd.color-blue .sidebar .sidebar-inner .sidebar-footer,
.theme-sdtd.color-blue .sidebar .sidebar-inner .sidebar-top .searchform input {
    background: #182e3a;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .menu-title {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .sidebar-top .userlogged > i {
    color: rgba(255, 255, 255, 0.3);
}

.theme-sdtd.color-blue.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.nav-active.active > a {
    background: #4a89dc !important;
}

.theme-sdtd.color-blue.sidebar-collapsed .sidebar .sidebar-inner .nav-sidebar > li.nav-hover.active > a span:not(.badge) {
    background: #4a89dc !important;
}

.theme-sdtd.color-blue.sidebar-collapsed .topbar .header-left .topnav .menutoggle {
    background: #4a89dc;
}

.theme-sdtd.color-blue .topbar .header-left .topnav .menu__handle {
    background: none;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .menu-title .menu-settings .dropdown-menu > li > a:hover {
    background: #4a89dc;
    color: #fff;
}

.theme-sdtd.color-blue.sidebar-top .nav-sidebar > li.nav-hover > a,
.theme-sdtd.color-blue.rtl .sidebar-top .nav-sidebar > li.nav-hover > a {
    background: #182e3a !important;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .sidebar-footer .pull-left:hover,
.theme-sdtd.color-blue .sidebar-footer .pull-left:active,
.theme-sdtd.color-blue .sidebar-footer .pull-left:focus {
    background-color: #0f1c24;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .nav-sidebar .children:after {
    border-left: 1px solid #0f1c24;
}

.theme-sdtd.color-blue .sidebar .sidebar-inner .nav-sidebar .children li:before {
    background: #0f1c24;
}

.theme-sdtd.color-blue.sidebar-hover .logopanel2 h1 a {
    background: url(../images/logo/logo-white.png) no-repeat;
}

.theme-sdtd.color-blue.submenu-hover .sidebar .sidebar-inner .nav-sidebar > li.nav-parent.nav-hover:before {
    border-right-color: #182e3a;
}

.theme-sdtl.color-blue:not(.sidebar-top) .sidebar .sidebar-inner .nav-sidebar .children > li.active > a {
    color: #ffffff !important;
}

/* Background Theme */
.bg-clean,
.bg-clean > section,
.bg-clean .main-content,
.bg-clean .main-content .page-content,
.bg-clean .sidebar-mailbox.sidebar .sidebar-inner .nav-sidebar > li.active > a,
.bg-clean .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:hover,
.bg-clean .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:focus {
    background: #fcfcfc;
}

.bg-lighter,
.bg-lighter > section,
.bg-lighter .main-content,
.bg-lighter .main-content .page-content,
.bg-lighter .sidebar-mailbox.sidebar .sidebar-inner .nav-sidebar > li.active > a,
.bg-lighter .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:hover,
.bg-lighter .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:focus {
    background: #efefef;
}

.bg-light-default,
.bg-light-default > section,
.bg-light-default .main-content,
.bg-light-default .main-content .page-content,
.bg-light-default .sidebar-mailbox.sidebar .sidebar-inner .nav-sidebar > li.active > a,
.bg-light-default .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:hover,
.bg-light-default .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:focus {
    background: #e9e9e9;
}

.bg-light-blue,
.bg-light-blue > section,
.bg-light-blue .main-content,
.bg-light-blue .main-content .page-content,
.bg-light-blue .sidebar-mailbox.sidebar .sidebar-inner .nav-sidebar > li.active > a,
.bg-light-blue .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:hover,
.bg-light-blue .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:focus {
    background: #e2ebef;
}

.bg-light-purple,
.bg-light-purple > section,
.bg-light-purple .main-content,
.bg-light-purple .main-content .page-content,
.bg-light-purple .sidebar-mailbox.sidebar .sidebar-inner .nav-sidebar > li.active > a,
.bg-light-purple .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:hover,
.bg-light-purple .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:focus {
    background: #e9ecf5;
}

.bg-light-dark,
.bg-light-dark > section,
.bg-light-dark .main-content,
.bg-light-dark .main-content .page-content,
.bg-light-dark .sidebar-mailbox.sidebar .sidebar-inner .nav-sidebar > li.active > a,
.bg-light-dark .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:hover,
.bg-light-dark .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:focus {
    background: #dce1e4;
}

.tooltipp {
    position: absolute;
    z-index: 999;
    width: 2.2em;
    height: 2.2em;
    cursor: pointer;
}

/* Trigger item */

.tooltip-item {
    width: 20px;
    height: 20px;
    left: 50%;
    top: 90%;
    margin: -15px 0 0 -17px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #e35583;
    -webkit-animation: pulse 0.6s infinite alternate;
    animation: pulse 0.6s infinite alternate;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(0.5, 0.5, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(0.5, 0.5, 2);
        transform: scale3d(0.5, 0.5, 2);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tooltipp:hover .tooltipp-item {
    border-color: #fff;
}

.tooltipp:first-child {
    top: 0%;
    left: 20%;
}

.tooltipp:nth-child(2) {
    top: 50%;
    left: 10%;
}

.tooltipp:nth-child(3) {
    top: 40%;
    left: 50%;
}

.tooltipp:nth-child(4) {
    top: 70%;
    left: 70%;
}

.alert-dark {
    background-color: #33363c;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #E2E2E2;
}

.alert .media-left img {
    width: 72px;
    margin-top: 5px;
}

.dis-block {
    display: block !important;
}

.width-100p {
    width: 100% !important;
}

.alert-dark h4.alert-title {
    color: #ffffff;
}

h4.alert-title {
    color: #252525;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.alert.alert-dark .media-body p {
    height: auto;
    line-height: 20px;
    margin-bottom: 0;
    overflow: visible;
}

.alert .media-body p {
    margin-bottom: 0;
    white-space: normal;
}

.alert.alert-dark.media.fade.in.bd-0:first-child {
    margin-top: 0;
    position: absolute;
    top: 1em;
    left: -5em;
    width: 370px;
}

.success {
    background-color: #85D27A;
}

.rating-xs {
    font-size: 1.9em;
}

.cbx-icon .glyphicon-ok {
    color: #5BC24C;
    left: 2px;
}

.cbx-icon .glyphicon-remove {
    color: #E9573F;
    left: 3px;
    top: 2px;
}

/****  404 and 500 Error Page  ****/
.error-page {
    background: -moz-radial-gradient(center, ellipse cover, #dfe5e9 2%, #dfe5e9 2%, #b2c0ca 100%);
    background: -ms-radial-gradient(center, ellipse cover, #dfe5e9 2%, #dfe5e9 2%, #b2c0ca 100%);
    background: -o-radial-gradient(center, ellipse cover, #dfe5e9 2%, #dfe5e9 2%, #b2c0ca 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(2%, #dfe5e9), color-stop(2%, #dfe5e9), color-stop(100%, #b2c0ca));
    background: -webkit-radial-gradient(center, ellipse cover, #dfe5e9 2%, #dfe5e9 2%, #b2c0ca 100%);
    background: radial-gradient(ellipse at center, #dfe5e9 2%, #dfe5e9 2%, #b2c0ca 100%);
    background: #dfe5e9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe5e9', endColorstr='#b2c0ca', GradientType=1);
    overflow: hidden;
    padding: 0;
}
.error-page h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 120px;
    font-weight: 600;
    height: 132px;
    min-width: 30px;
    text-align: center;
    padding-left: 0.5em;
}
.error-page a {
    color: #FFF;
}
.error-page a:hover {
    color: #616873;
    text-decoration: none;
}
.error-page .footer {
    bottom: 30px;
    position: absolute;
    width: 100%;
}
.error-page .copyright {
    font-size: 12px;
    text-align: center;
}
.error-page .btn {
    padding: 8px 50px;
}
.error-page .col-md-12 {
    text-align: center !important;
}
.error-page .col-md-6 {
    text-align: center !important;
}
.error-page p {
    text-align: center !important;
}
.error-page .btn-group .btn {
    padding: 8px 10px;
}
.error-main {
    color: #2B2E33;
    margin-top: 20%;
    text-align: center;
}
#content-404 {
    display: none;
    text-align: center;
}
#content-500 {
    display: none;
}
@media (max-width: 1505px) {
    .btn.btn-home {
        display: none;
    }
}
@media (max-width: 450px) {
    .btn.btn-message {
        display: none;
    }
}
@media (max-width: 570px) {
    .panel-heading span {
        display: none;
    }
}

/* Page Full Calendar */
#calendar {
    margin-top: 22px;
}
.page-calendar .add-category {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}
.page-calendar .add-category i {
    padding-right: 8px;
}
.fc-draggable.fc-event {
    border: none;
}
.external-event {
    cursor: move;
    margin: 10px 0;
    padding: 6px;
}
.fc-event {
    border-radius: 0;
    margin: 3px 6px;
    padding: 4px 8px;
}
.fc-state-default {
    background: #ffffff;
    box-shadow: none !important;
    color: #000000;
    margin-right: -1px;
    outline: none !important;
    text-shadow: none;
}
.fc-state-default:hover {
    background: #E4E4E4;
}
.fc-state-default.fc-corner-right {
    background-color: #ffffff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    color: #111111;
}
.fc-state-default.fc-corner-right:hover {
    background: #E4E4E4;
}
.fc-toolbar {
    margin-bottom: 32px !important;
    padding-left: 1em;
    padding-right: 1em;
}
.fc-toolbar .fc-state-active {
    background: #319db5;
    box-shadow: none;
    color: #ffffff;
    cursor: default;
    margin-right: -1px;
}
.fc-toolbar .fc-center {
    display: inline-block;
    padding-top: 3px;
}
.fc-toolbar .ui-state-active {
    background: #319db5;
    box-shadow: none;
    color: #ffffff;
    cursor: default;
    margin-right: -1px;
}
.fc-state-default.fc-corner-right.fc-state-active {
    background: #319db5;
    box-shadow: none;
    color: #ffffff;
    cursor: default;
    margin-right: -1px;
}
.fc-state-default.fc-state-disabled {
    background-color: #cccccc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #111111;
}
.fc .fc-toolbar > *:first-child {
    border: none;
}
.fc .fc-button-group > * {
    border: none;
}
.fc .fc-button-group .fc-prev-button {
    background: #2b2e33;
    color: #ffffff;
}
.fc .fc-button-group .fc-next-button {
    background: #2b2e33;
    color: #ffffff;
}
.fc-state-default.fc-corner-right.fc-state-disabled {
    background: #C8C8C8;
}
.fc-unthemed .fc-today {
    background: #ffffff;
}
.fc-unthemed .fc-future {
    background: #ffffff;
}
.fc-basic-view td.fc-day-number {
    padding-right: 8px;
    padding-top: 8px;
}
.fc-basic-view td.fc-day-number.fc-past {
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.fc th,
.fc-unthemed thead,
.fc-unthemed .fc-row,
thead .fc-widget-header {
    /*border-color: transparent !important; */
    border-width: 0;
    border: none;
}
.fc-head td {
    padding-bottom: 8px;
}
@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@-webkit-keyframes pulse {
    40% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    40% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulse {
    40% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@media screen and (max-width: 1400px) {
    .coming-soon #countdown {
        left: 40px;
        position: relative;
        right: auto;
    }
    .coming-soon .content {
        float: none;
        margin: 40px;
        position: relative;
        top: 200px;
        width: 600px;
    }
}
@media (max-width: 1100px) {
    .map-container {
        margin-right: -40px;
    }
}
@media screen and (max-width: 700px) {
    .coming-soon .content {
        width: 100%;
        margin: 0;
        padding: 30px;
    }
}
