.col-xlg-2,
.col-xlg-3,
.col-xlg-4,
.col-xlg-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1600px) {
    .col-xlg-2,
    .col-xlg-3,
    .col-xlg-4,
    .col-xlg-6 {
        float: left;
    }

    .col-xlg-6,
    {
        width: 50%;
    }

    .col-xlg-4,
    {
        width: 33.33333333%;
    }

    .col-xlg-3,
    {
        width: 25%;
    }

    .col-xlg-2,
    {
        width: 16.66666667%;
    }
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.border-top {
    border-top: 1px solid #efefef !important;
}

.bg-red:not(i) {
    background-color: #C9625F !important;
    color: #fff !important;
}

i.bg-red::before {
    background-color: #C9625F !important;
    color: #fff !important;
}

.bg-light:not(i) {
    background-color: #E9E9E9 !important;
    color: black !important;
}

.bg-green:not(i) {
    background-color: #18a689 !important;
    color: #fff !important;
}

i.bg-green::before {
    background-color: #18a689 !important;
    color: #fff !important;
}

.bg-blue:not(i) {
    background-color: #4584D1 !important;
    color: #fff !important;
}

i.bg-blue::before {
    background-color: #4584D1 !important;
    color: #fff !important;
}

.background-primary:not(i) {
    background-color: #319DB5;
    color: #fff;
}

.bg-orange:not(i) {
    background-color: #F2A057 !important;
    color: #fff !important;
}

.bg-purple:not(i) {
    background-color: #A58BD3 !important;
    color: #fff !important;
}

i.bg-purple::before {
    background-color: #A58BD3 !important;
    color: #fff !important;
}

.bg-dark:not(i) {
    background-color: #2B2E33 !important;
    color: #fff !important;
}

address {
    padding-left: 15px;
}

.btn {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    border: none;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 7px 24px 8px;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bg-purple:not(i) {
    background-color: #A58BD3 !important;
    color: #fff !important;
}

i.bg-purple::before {
    background-color: #A58BD3 !important;
    color: #fff !important;
}

.btn:hover {
    color: #fff;
    outline: 0;
    outline: none;
}

.btn:focus {
    color: #fff;
    outline: none !important;
    outline: 0;
    outline: none;
}

.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    outline: none;
}

.pull-right .btn {
    margin-right: 0;
}

.pull-left .btn {
    margin-left: 0;
}

.btn.btn-sm {
    font-size: 11px;
    padding: 5px 12px !important;
}

.btn-sm {
    font-size: 13px;
    line-height: 1.385;
    margin-left: 10px;
    padding: 2px 10px !important;
    padding: 9px 13px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-sm:first-child {
    margin-left: 3px;
}

.btn-default {
    background-color: #e0e6eb;
    color: #616c76;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
{
    background-color: #d0dae1;
    border-color: #d0dae1;
    color: #616c76;
}

.btn-dark {
    background-color: #353940;
    color: #fff;
}

.bg-blue:not(i) {
    background-color: #4584D1 !important;
    color: #fff !important;
}

i.bg-blue::before {
    background-color: #4584D1 !important;
    color: #fff !important;
}

.bg-blue.form-control:focus {
    background-color: #4584D1 !important;
    color: #fff !important;
}

.btn-dark:active {
    background: #1e2024;
    border-color: #1e2024;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
{
    background-color: #292d32;
    border-color: #292d32;
    color: #fff !important;
}

.badge {
    font-weight: 500;
}

.modal-slideleft .modal-dialog {
    bottom: 0;
    height: 100%;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 300px;
    position: absolute;
    right: auto;
    top: 0;
    width: 100%;
}

.modal-slideleft .modal-dialog .modal-content {
    border: none;
    height: 100%;
}

.modal-slideleft .modal-dialog .modal-body {
    border-collapse: collapse;
    display: table;
    height: 100% !important;
    padding-left: 0;
    padding-right: 0;
    table-layout: fixed;
    vertical-align: middle;
    width: 100%;
}

.modal-slideleft .modal-dialog .modal-body .row {
    display: table-row;
}

.modal-slideleft .modal-dialog .modal-body .row .col-md-12 {
    display: table-cell;
    float: none;
    text-align: center;
    top: -20%;
    vertical-align: middle;
}

.modal.fade.modal-slideleft .modal-dialog {
    -o-transform: translate3d(-25%, 0, 0);
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    transition: transform 0.3s ease-out;
}

.modal.fade.in.modal-slideleft .modal-dialog {
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease-out;
}

.badge-success {
    background-color: #70CA63;
}

.badge-danger {
    background-color: #EC6F5A;
}

.label {
    font-weight: 500;
}

.label-success {
    background-color: #70CA63;
}

.label-success:hover {
    background-color: #70CA63;
}

.label-info {
    background-color: #55BADF;
}

.label-system {
    background-color: #48C9A9;
}

.label-info:hover {
    background-color: #55BADF;
}

.progress {
    -webkit-box-shadow: none;
    background: #ebedef;
    border-radius: 32px;
    box-shadow: none;
    height: 12px;
}

.progress-bar {
    -webkit-box-shadow: none;
    background: #3BAFDA;
    box-shadow: none;
    line-height: 12px;
}

ul.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-square {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.popover-footer .btn + .btn {
    margin-bottom: 10px;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-dialog {
    margin-top: 10%;
    z-index: 10000;
}

fieldset {
    border: 1px solid #E5E5E5;
    margin-top: 20px;
    padding: 20px;
}

legend {
    border-bottom: none;
    font-size: 15px;
    margin-bottom: 0;
    padding: 0 10px;
    width: auto;
}

.label {
    font-weight: 500;
}
.label-default {
    background-color: #e0e6eb;
    color: #121212;
}
.label-default[href]:hover {
    background-color: #d0dae1;
}
.label-default[href]:focus {
    background-color: #d0dae1;
}

/**** Font Property ****/
/****  Font Size  ****/
.f-14 {
    font-size: 14px !important;
}

.f-18 {
    font-size: 18px !important;
}

/**** Text Position ****/
/****  Font Weight  ****/
/****  Font Color  ****/
.c-red {
    color: #cd6a6a;
}

.c-orange {
    color: #ec8521;
}

.c-yellow {
    color: #F3D261;
}

.c-gray {
    color: #8F8F8F;
}

.c-dark {
    color: #343434;
}

.c-primary {
    color: #319db5;
}
.glyphicon-resize-full,
.glyphicon-plus,
.glyphicon-repeat,
.glyphicon-resize-small {
    left: -5px;
    top: 2px;
}

.nav-tabs > li > a::before {
    -moz-transition: -moz-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    background: #566473;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: 40px;
    transition: transform 0.3s;
    width: 100%;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.nav-tabs .active a::before {
    width: 100%;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.nav-tabs a:hover::before {
    width: 100%;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.nav-tabs a:focus::before {
    width: 100%;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.nav-tabs:after {
    bottom: 3px;
    position: relative;
    width: 100%;
    z-index: 120;
}

.nav.nav-tabs > li > a {
    background-color: #fff;
    border: none;
    color: #939393;
}

.nav.nav-tabs > li.active > a {
    background-color: #fff;
    border-bottom: none;
    color: #121212;
}

.nav.nav-tabs > li:hover > a {
    background-color: #fff;
    color: #121212;
}

.tab-content {
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
    padding: 15px;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li:after {
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .1s linear;
    background-color: #f55753;
    content: '';
    display: block;
    height: 0;
    transition: all .1s linear;
    width: 100%;
    z-index: 125;
}

.nav-tabs > li.active a {
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs > li.active a:hover {
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs > li.active a:focus {
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs > li.active > a {
    border: none;
}

.nav-tabs > li.active > a:hover {
    border: none;
}

.nav-tabs > li.active > a:focus {
    border: none;
}

ul.nav li {
    cursor: pointer;
}

ul.nav li a {
    cursor: pointer;
}

.div-table[class^="col-"]::first-child {
    padding-left: 15px !important;
}

.div-table[class^="col-"]::last-child {
    padding-right: 15px !important;
}

code {
    padding: 2px 4px 2px 4px;
    font-size: 90%;
    color: #575757;
    background-color: #EEF4FF;
    white-space: nowrap;
    border-radius: 4px;
}

.clear-rating.clear-rating-active,
.star-rating .caption {
    display: none;
}

.kv-sidenav .active > a > span > .indicator {
    color: #999999;
}

.datetimepicker .datetimepicker-hours span,
.datetimepicker .datetimepicker-minutes span,
.datetimepicker .datetimepicker-months span {
    text-align: center;
}

.input-group-addon {
    border: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.has-success .input-group-addon {
    border-top: 1px solid #3c763d;
    border-left: 1px solid #3c763d;
    border-bottom: 1px solid #3c763d;
}

a,
a:focus,
a:hover,
a:active {
    outline: 0;
}

li {
    line-height: 25px;
}

textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}

ul,
li,
input,
p,
label,
div,
section,
textarea {
    float: none;
    text-align: left;
}

.nav-tabs > li > a {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.dropdown-menu {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    -moz-box-shadow: 3px 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 3px 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 3px 3px 0 rgba(12, 12, 12, 0.03);
}

.dropdown-menu li a {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.dropdown-menu > li > a {
    padding: 7px 10px;
    color: #666666;
}

.dropdown-menu > li > a:hover {
    background-color: #e7e7e7;
    color: #333333;
}

.dropdown-menu li a i {
    padding-right: 8px;
    padding-left: 0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
